*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}
body{
    background-color: #242223;
    height: 100vh;
    
    
}
img{
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
    
    
}

.list{
    columns: 300px;
    margin: auto;
    width: 70%;
    
    
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.7rem;
    color: white;letter-spacing: .6rem;
}
h2{
    position: fixed;
    
    
    margin-top: 105px;
    /*background-color: rgba(0, 0, 0, 0.181);
    padding: 10px;
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;*/
    font-size: 2rem;
  
    
    
    
    
}
h2 a{
    text-decoration: none;
    color: rgb(183, 181, 181);
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    
}
@media (max-width:600px) {
    img{
        
        width: 100%;
        height: auto;
    }
}